/* Variables */

$color-dark: #131313;
$color-light: #fff;
$color-main: #c24e00;
$color-warning: #f6b93b;
$color-danger: #e74c3c;
$color-success: #2ecc71;

$font-text: "Source Sans 3", sans-serif;

$font-normal: 400;
